<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=RocknRoll+One&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
      <img src="<%= require('./assets/rectangle.svg') %>" alt="logo"/>
      <span>todos</span>
    </div>
  </header>
  <nav>
    <ul class="default-projects">
      <li id="all-tasks">
        <a class="project all">
          <img class="icon all" src="<%= require('./assets/rectangle.svg') %>" alt="project icon">
          <span class="title">All Tasks</span>
          <span class="task-total">20</span>
        </a>
      </li>
      <li>
        <a class="project">
          <img class="icon today" src="<%= require('./assets/rectangle.svg') %>" alt="project icon">
          <span class="title">Today</span>
          <span class="task-total">5</span>
        </a>
      </li>
      <li>
        <a class="project">
          <img class="icon upcoming" src="<%= require('./assets/rectangle.svg') %>" alt="project icon">
          <span class="title">Upcoming</span>
          <span class="task-total">15</span>
        </a>
      </li>
    </ul>
    <ul class="user-defined-projects"></ul>
    <div class="nav-footer">
      <button class="add-btn">
        <img class="add" src="<%= require('./assets/plus.svg') %>" alt="add icon">
        <span>Add Project</span>
      </button>
    </div>
  </nav>
  <main>
    <div class="project-details"></div>
    <button class="add-todo">+ Add Task</button>
  </main>
</body>
</html>