* {
  margin: 0;
  padding: 0;
}

body {
  --primary-dark: #3A7CFF;
  --primary-color: #77A4FF;
  --secondary-color: #F5F6F8;
  --dark-grey: #2F3437;
  --light-grey: #8D8E8F;
  --border-grey: #CCCED1;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--dark-grey);
  box-sizing: border-box;
  height: 100vh;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 82px 1fr;
}

a, button {
  cursor: pointer;
  font-family: inherit;
}

header {
  grid-column: span 2;
  align-self: center;
  height: 100%;

  padding-inline: 20px;
  background-color: var(--primary-color);
  color: white;
}

header > * {
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo span {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 32px;
  letter-spacing: 0.05em;
}

nav {
  background-color: var(--secondary-color);
  padding: 15px 30px 0 30px;
  font-weight: 500;

  display: grid;
  grid-template-rows: 300px 1fr 50px;
}

nav ul {
  list-style: none;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav li a {
  padding: 14px 16px;

  display: flex;
  gap: 15px;
}

nav li a:hover {
  background-color: #e4e6ed;
}

nav li a .icon {
  height: 20px;
  
}

.icon.all {
  filter: brightness(0) saturate(100%) invert(61%) sepia(14%) saturate(3532%) hue-rotate(195deg) brightness(103%) contrast(101%);;
}

.icon.today {
  filter: brightness(0) saturate(100%) invert(70%) sepia(48%) saturate(761%) hue-rotate(317deg) brightness(100%) contrast(101%);
}

.icon.upcoming {
  filter: brightness(0) saturate(100%) invert(83%) sepia(12%) saturate(2187%) hue-rotate(69deg) brightness(103%) contrast(101%);
}

nav li a .task-total {
  margin-left: auto;
  color: var(--light-grey);
}

.nav-footer {
  height: 100%;
  border-top: 1px solid var(--border-grey);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.add-btn {
  margin-right: auto;
  background-color: unset;
  color: var(--dark-grey);
  border: none;
  font-size: 18px;
  font-weight: 500;

  display: flex;
  align-items: center;
}

img.add {
  height: 18px;
  filter: invert(17%) sepia(11%) saturate(519%) hue-rotate(159deg) brightness(90%) contrast(86%); /* match dark-grey */
}

button.add-btn:hover {
  color: black;
}

button.add-btn:hover img.add {
  filter: none;
}